<h1>Edit <%=@tab.name%> Tab: </h1>

<!-- Edit  -> Form -->
<br></br>
<form action="/tabs/<%=@tab.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <h4><label for="tab_name">Name:</label>
  <input type="text" id="tab_name" name="name" value="<%=@tab.name%>"></h4>
  <br></br>

  <h4><label for="url">URL:</label>
  <input type="text" name="url" id="url" value="<%=@tab.url%>"></h4>
  <br></br>

  <h4><label for="notes">Notes:</label>
  <input type="text" name="notes" id="notes" value="<%=@tab.notes%>"></h4>
  <br></br>
  <!-- <input type="submit" value="Submit"> -->
  <button type="submit" name="edit_button">Save Changes</button>
</form>


<!-- Delete -> Form/Button -->
<form action="/tabs/<%=@tab.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<!-- Footer -->
<footer>
  <a href="/tabs">Home</a> ||  <a href="/logout">Log Out</a>
</footer>
