<h1>Welcome, <%=@user.name%> ALL TABS</h1>

<ul>
<% @tabs.each do |tab| %>
  <a href="/tabs/<%=tab.id%>" style="text-decoration:none">
    <h3><li><%=tab.name%></li></h3></a>
    <h5><li><%=tab.notes%></li></h5>
    <p class="website_url"><li><%=tab.url%></li></p>

  <%# <%url = tab.url%>
  <!-- <p><li><a href=<%=url%> target="_blank"> <%=url%></a></li></p> -->
  <br>
<% end %>
</ul>

<br>
<a href="/tabs/new">Add a Tab</a>

<footer>
  <a href="/tabs">Home</a> ||  <a href="/logout">Log Out</a>
</footer>
