<h5>Show Tab: </h5>

<!-- Show -> Tab Deets -->
<h3> <%=@tab.name%> </h3>
<h5> <%=@tab.notes%> </h5>
<%url = @tab.url%>
<p><a href=<%=url%> target="_blank"> <%=url%> </a></p>


<!-- Edit -> Route -->
<a href='/tabs/ <%= @tab.id %> /edit' > Edit This Tab </a>
<br></br>

<!-- Delete -> Form/Button -->
<form action='/tabs/ <%=@tab.id%>' method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<br></br>

<!-- Create -> Route -->
<a href="/tabs/new">Add A New Tab</a>
<br>
</br>

<!-- Footer -->
<footer>
  <a href="/tabs">Home</a> ||  <a href="/logout">Log Out</a>
</footer>
