<!-- <h5>Show Tab: </h5> -->

<!-- Show -> Tab Deets -->
<h1> <%=@tab.name%> </h1>
<%url = @tab.url%>
<p><a href=<%=url%> target="_blank"> <%=url%> </a></p>
<br>
<h3> ||  <%=@tab.notes%> </h3>
<br></br>

<!-- Edit -> Route -->
<h4> > <a href='/tabs/ <%= @tab.id %> /edit' style="text-decoration:none"> Edit Tab </a></h4>
<!-- Create -> Route -->
<h4> > <a href="/tabs/new" style="text-decoration:none"> Add A New Tab</a></h4>


<!-- Delete -> Form/Button -->
<form action='/tabs/ <%=@tab.id%>' method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tab">
</form>

<br></br>



<!-- Footer -->
<footer>
  <a href="/tabs">Home</a> ||  <a href="/logout">Log Out</a>
</footer>
